NEXT_PUBLIC_SUPABASE_URL=https://ocfjsjznuqdlbmozdflf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_NXBVknzg7T4-iNh8y4zAnQ_OBh8usgi
SUPABASE_SERVICE_ROLE_KEY=sb_secret_Y5mNEbH4YCaIzz5Xv1bX8A_JrB--5MN
GROQ_API_KEY=
CRON_SECRET=
